
<head>
	<title>
        BlackSmileBOT | faq
	</title>
	
	<link rel="stylesheet" href="style.css" type="text/css">
	<meta charset="utf-8">
</head>


<body bgcolor="#000033">
	
		<div class="loginbox">
	<font color="white">
<font color="yellow"><h1>Giveaway</h1></font>
<form action="index.hbs" method="POST"  >

<input type="hidden" name="token" value="{{token}}" >
Liste
&nbsp;
&nbsp;
		<input type="submit" name="submit" value="Auswählen">

</form>

<br>
<br>
Wird Noch hinzugefügt bitte geduldet euch :)
</div>
</div>
<br>
<br>

<div align="center"><h6>@copyright by RealCrafter</h6></div>
</body>